/******************************************************************************/
/********************************* Typograhy **********************************/
/******************************************************************************/


h1,h2,h3,h4,h5 {
  font-family: 'Arvo', serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
}

.font-arvo {
  font-family: 'Arvo', serif;
}

.font-bigger {
  font-size: 8vw;
}

.font-big {
  font-size: 3vw;
}

@media (max-width: 960px){
  .font-bigger {
    font-size: 10vw;
  }

  .font-big {
    font-size: 4vw;
  }
}

@media (max-width: 768px){
  .font-bigger {
    font-size: 12vw;
  }

  .font-big {
    font-size: 5vw;
  }
}

.uk-button {
  font-family: 'Arvo', serif;
}


/******************************************************************************/
/******************************** Base Styles *********************************/
/******************************************************************************/




@media (max-width:960px) {
  .uk-container {
    padding-right:8%;
    padding-left:8%;
  }
}

.button {
   background-color: #574D68;
   color: white;
   border: 1px solid #574D68;
}

.button:hover {
   color: #574D68;
   border: 1px solid #574D68;
   background-color: white;
}
