/*********** Header ************/

.graph-heading-container {
  min-height: 100px;
  border-top: 3px solid #574D68;
  border-bottom: 3px solid #574D68;
}

.graph-heading {
  padding-top: 2vw;
  padding-left: 5%;
  color: #574D68;
}

/*********** Graph Canvas and Overview ************/

#canvas {
  min-height: 80vh;
  margin-bottom: 100px;
  border: 5px solid #F5F5F5;
  border-radius: 5px;
}

#canvas-condensation {
  min-height: 50vh;
  margin-bottom: 100px;
  border: 5px solid #F5F5F5;
  border-radius: 5px;
}

/* to make column expansion fluid */
.row-fluid div {
    -webkit-transition: width 1.5s ease, height 0.1s ease, margin 0.1s ease, padding 0.1s ease, opacity 0.1s ease;
    -moz-transition: width 1.5s ease, height 0.1s ease, margin 0.1s ease, padding 0.1s ease, opacity 0.1s ease;
    -o-transition: width 1.5s ease, height 0.1s ease, margin 0.1s ease, padding 0.1s ease, opacity 0.1s ease;
    transition: width 1.5s ease, height 0.1s ease, margin 0.1s ease, padding 0.1s ease, opacity 0.1s ease;
}

/* to show and hide expand icon on hover */
.expand-icon {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.expand-icon > a:hover {
  color: #D0E4A1;
}

#graph-preview:hover .expand-icon {
  opacity: 1;
}
