/******************************************************************************/
/************************************ Hero ************************************/
/******************************************************************************/

#hero {
  position: absolute;
}

.hero-button {
   background-color: #574D68;
   color: #D0E4A1;
   border: 1px solid #574D68;
}

.hero-button:hover {
   color: #574D68;
   border: 1px solid #574D68;
}


/*********** Hero background with particle.js ************/

#particles-js {
  background-color: #E4F0C9;
}

.particles-js-canvas-el {
  height: 90vh !important;
}



/*********** Hero title and subheader ************/

#hero h1 {
  font-size: 12vw;
  color: #574D68;
}

#hero h5 {
  font-size: 2.5vw;
  color: #574D68;
}

.hero-button {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

@media (min-width: 960px) {
  #hero {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media (max-width: 960px){
  .hero-button {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
  }

  #hero h1 {
    font-size: 14vw;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }

  #hero h5 {
    font-size: 5vw;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }
}


@media (max-width: 768px){
  .hero-button {
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #hero h1 {
    font-size: 16vw;
  }

  #hero h5 {
    font-size: 7vw;
  }
}


/******************************************************************************/
/********************************* Statistics *********************************/
/******************************************************************************/

.homepage-section {
  padding-top:160px;
}

@media (min-width: 768px) {
  .stat-descr-container {
    position: relative;
  }

  .stat-descr {
    position: absolute;
    bottom: 30px;
  }
}

.uk-table td {
  padding: 8px;
}

/******************************************************************************/
/********************************* Footer *************************************/
/******************************************************************************/

footer {
  padding-left: 2%;
}
