/*********** Main Navigation ************/

.uk-logo {
  color: #574D68;
  padding-left: 3%;
}

.main-nav {
  background-color:#D0E4A1 !important;
}

/*********** Secondary Navigation ************/
/* Only available in graph pages */

.secondary-nav span {
  padding-left: 8px;
  padding-right: 8px;
}

.secondary-nav .uk-navbar-item,  .secondary-nav .uk-navbar-nav > li > a {
  min-height: 50px;
}


/*********** Off-Canvas Navigation ************/

.uk-offcanvas-bar {
  background-color: #D0E4A1 !important;
}

.uk-offcanvas-bar li, .uk-offcanvas-bar a {
  color: #574D68 !important;
}

.uk-nav-divider {
  border-top-color: #574D68 !important;
}
